/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Pirata+One&display=swap" rel="stylesheet');

/* CSS Variables */
:root {
  --title-font: "Pirata One", sans-serif;
  --secondary-font: "Kurale", sans-serif;
  --heading-colour: #F42B03;
  --quiz-colour: #FFFFFF; 
  --bg-dark: #080357; 
  --text-colour: #29524A;
  --title-colour: #D3AF37; 
  --button-colour: #6a5acd;
}

/* Global styles */
h1 {
    font-family: var(--title-font);
    color: var(--title-colour);
    font-size: 4rem;
}

h2 {
    font-family: var(--title-font);
    color: var(--heading-colour);
    font-size: 3rem;
    margin-bottom: 4rem;
}

p {
    font-family: var(--secondary-font);
    color: var(--text-colour);
    font-size: 2rem;
}

body {
  font-family: var(--secondary-font);
  text-align: center;
  background-color: var(--bg-dark);
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 80rem;
  margin: auto;
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Game view */
#question {
    font-family: var(--secondary-font);
}

/* Buttons */
#start-button {
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #6a5acd;
  color: FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

#start-button:hover {
  background-color: #080357;
}

#progress, #score {
  margin: 0.5rem 0;
  font-weight: bold;
}

/* Choices */
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(106, 90, 205, 0.25);
  background-color: #FFFFFF;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(106, 90, 205, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #6a5acd;
  color: #FFFFFF;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #29524A;
  color: #FFFFFF;
}

.incorrect {
  background-color: #F42B03;
  color: #D3AF37;
}

/* Hud */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix .score-end {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 50rem;
  height: 2rem;
  border: none;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 2rem;
  background-color: #6a5acd;
  width: 0%;
}