/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Pirata+One&display=swap" rel="stylesheet');

/* CSS Variables */
:root {
  --title-font: "Pirata One", sans-serif;
  --secondary-font: "Kurale", sans-serif;
  --heading-colour: #F42B03;
  --quiz-colour: #FFFFFF; 
  --bg-dark: #080357; 
  --text-colour: #29524A;
  --title-colour: #D3AF37; 
  --button-colour: #6a5acd;
}

/* Global styles */
h1 {
    font-family: var(--title-font);
    color: var(--title-colour);
    font-size: 4rem;
}

h2 {
    font-family: var(--title-font);
    color: var(--heading-colour);
    font-size: 3rem;
    margin-bottom: 4rem;
}

p {
    font-family: var(--secondary-font);
    color: var(--text-colour);
    font-size: 2rem;
}

body {
  font-family: var(--secondary-font);
  text-align: center;
  background-color: var(--bg-dark);
  margin: 0;
  padding: 2rem;
}

/* Background video */
#backgroundvideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; 
  opacity: 0.6; 
}

/* Containers */
.container {
  max-width: 80rem;
  margin: auto;
  background: #FFFFFF;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;
}

.choice-container {
  border-radius: 10px;
    align-self: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Start page */
#introduction {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* Game view */
#question {
    font-family: var(--secondary-font);
}

/* Buttons */
.button {
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #6a5acd;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #080357;
}

/* Score and Progress */
#progress, #score {
  margin: 0.5rem 0;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 0.5s ease;
}

/* Choices */
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(106, 90, 205, 0.25);
  background-color: #FFFFFF;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(106, 90, 205, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #6a5acd;
  color: #FFFFFF;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #29524A;
  color: #FFFFFF;
}

.incorrect {
  background-color: #F42B03;
  color: #D3AF37;
}

.choice-container.correct .choice-text {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px #9eff9e;
}

.choice-container.incorrect .choice-text {
  color: #fff1d0;
  font-weight: bold;
  text-shadow: 0 0 8px #f96666;
}

/* Hud */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix .score-end {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 50rem;
  height: 2rem;
  border: none;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 2rem;
  background-color: #6a5acd;
  width: 0%;
}

/* Loader */
#loader {
  border: 0.9rem solid #FFFFFF;
  border-radius: 50%;
  border-top: 0.9rem solid #D3AF37;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Game */
.score-end h2 {
  color: var(--button-colour);
}

/* Media queries */

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p, .choice-container {
    font-size: 1.2rem;
  }

  #start-button {
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
  }

  .container {
    padding: 2rem;
  }

  .choice-container {
    flex-direction: column;
  }

  .choice-prefix {
    padding: 1rem;
    font-size: 1rem;
  }

  .choice-text {
    padding: 1rem;
  }

  #progressBar {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p, .choice-container {
    font-size: 1.5rem;
  }

  .container {
    padding: 2rem 1rem;
  }

  .choice-container {
    flex-direction: row;
    max-width: 80%;
  }

  #start-button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  #progressBar {
    width: 80%;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  #introduction {
    font-size: 1.6rem;
}

  p, .choice-container {
    font-size: 1.8rem;
  }

  .container {
    padding: 3rem;
  }

  #progressBar {
    width: 50rem;
  }
}

/* Extra large devices (desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 80rem;
  }

  .choice-container {
    font-size: 2rem;
  }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 90rem;
  }

  #progressBar {
    width: 60rem;
  }
}
